@model IEnumerable<Avansight.Domain.Patient>
<br>
<h4>Newly Inserted Patient List</h4>
<br>
<div style="height: 350px; overflow: auto;">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Patient Id</th>
            <th>@Html.DisplayNameFor(m => m.Gender)</th>
            <th>@Html.DisplayNameFor(m => m.Age)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.PatientId</td>
                <td>@p.Gender</td>
                <td>@p.Age</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {

    <script src="~/lib/domo-phoenix/build/global/domoPhoenix.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">


    </script>
}